@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
  --primary-color: #FBE5DB;
  --secondary-color: #6F6B6A;
  --accent-color: #EA5829;
  --bold-color: #2D211F;
}

* {
  font-family: 'Poppins', sans-serif;
}

.login{
  background-color: var(--primary-color);
}

.orange {
  color: var(--accent-color);
}

.put {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
  padding: 10px 5px;
  /* width: 100%; */
  outline: none;
}

.textarea {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
  outline: none;
  padding: 5px;
}

.material-button, .mater-button {
  border: 1px solid var(--bold-color) !important;
  border-radius: 0 !important;
  font-weight: 500 !important;
  text-transform: inherit !important;
  color: var(--secondary-color) !important;
  font: 500 !important;
  font-size: 12px !important;
}

.material-button {
  padding: 7px 5px !important;
}

.mater-button {
  padding: 1px 3px !important;
}

.out {
  /* border: 1px solid var(--bold-color); */
  box-shadow: 2px 2px 5px #2D211F;
}

.h {
  height: 96%;
}

.cal {
  color: var(--bold-color);
}

.cave {
  border: 1px solid var(--bold-color);
  width: 90%;
}

.cave > input {
  border: none;
}

.gress {
  color: var(--secondary-color);
  font: 500;
  font-size: 15px;
}

.settle {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
}

.boarder {
  border-bottom: 1px solid var(--bold-color);
}

@media (min-width: 768px) {
  .haba {
    height: 90vh;
  }
}