@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
  --primary-color: #FBE5DB;
  --secondary-color: #6F6B6A;
  --accent-color: #EA5829;
  --bold-color: #2D211F;
}

* {
  font-family: 'Poppins', sans-serif;
}

.login{
  background-color: var(--primary-color);
}

.orange {
  color: var(--accent-color);
}

.put {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
  padding: 10px 5px;
  /* width: 100%; */
  outline: none;
}

.textarea {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
  outline: none;
  padding: 5px;
}

.material-button, .mater-button {
  border: 1px solid var(--bold-color) !important;
  border-radius: 0 !important;
  font-weight: 500 !important;
  text-transform: inherit !important;
  color: var(--secondary-color) !important;
  font: 500 !important;
  font-size: 12px !important;
}

.material-button {
  padding: 7px 5px !important;
}

.mater-button {
  padding: 1px 3px !important;
}

.out {
  /* border: 1px solid var(--bold-color); */
  box-shadow: 2px 2px 5px #2D211F;
}

.h {
  height: 96%;
}

.cal {
  color: var(--bold-color);
}

.cave {
  border: 1px solid var(--bold-color);
  width: 90%;
}

.cave > input {
  border: none;
}

.gress {
  color: var(--secondary-color);
  font: 500;
  font-size: 15px;
}

.settle {
  background-color: transparent;
  border: 1px solid var(--bold-color);
  color: var(--secondary-color);
  font: 500;
  font-size: 12px;
}

.boarder {
  border-bottom: 1px solid var(--bold-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-top: 3px;
  padding-right: 10px;
}
.barr {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
}

.topper {
  border-top: solid 1px var(--bold-color);
}

.higher {
  height: 90vh !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.higher::-webkit-scrollbar {
  display: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bold-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 768px) {
  .haba {
    height: 90vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hamburger {
    display: block;
  }
  
 .bar {
  position: fixed;
  right: -50%;
  padding: 5px;
  padding-left: 7px;
  top: 40px;
  gap: 0;
  flex-direction: column;
  background-color: rgba(234, 88, 41);
  width: 40%;
  transition: 0.3s;
  z-index: 1;
 }

 .activebar {
  position: fixed;
  right: 0%;
  padding: 5px;
  padding-left: 7px;
  top: 40px;
  gap: 0;
  flex-direction: column;
  background-color: rgba(234, 88, 41);
  width: 40%;
  transition: 0.3s;
  z-index: 1;
}
}